@import '~@uppy/dashboard/src/style';

.uppy-Dashboard-browse{
  @extend .button;
}

.uppy-Dashboard-inner{
  margin: auto;
  width:100% !important;
  z-index: 10;
}

.uppy-FileInput-btn {
  @extend .button;
}
